<div class="main-header">
    <div class="left-header">
    <div class="header-title">
      <%= "#{current_user.department}"%>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn' %>
    </div>
  </div>
</div>

<div class="reports">
  <%= render partial: 'report', collection: @reports %>
</div>

<div class="footer">
  <% if user_signed_in? %>
    <% if current_user == @user || current_user.admin? %>
        <div class="footer-button">
        <%= link_to "CSV", root_path(format: :csv), class: "btn" %>
        </div>
    <% end %>
  <% end %>
</div>