<div class="side-bar-header" >
  <div class="header-name">
    <%= link_to current_user.employee_number, edit_user_path(current_user) %>
    </a>
  </div>
  <div class="menu-list">
    <%= link_to "打刻・報告", new_report_path %>
  </div>
</div>

<div class="menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">勤務状況一覧</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">チームMTG</a>
    </div>
  </div>
</div>