<div class="side-bar-header" >
  <div class="header-name">
    <%= link_to current_user.employee_number, edit_user_path(current_user) %>
    </a>
  </div>
  <div class="menu-list">
    <a href="#">
      <b>打刻・報告</b>
    </a>
  </div>
</div>

<div class="menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">在宅勤務報告</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">チームMTG</a>
    </div>
  </div>
</div>